RewriteEngine On  

    RewriteRule ^home|index$                index.php
    RewriteRule ^isdm-team$                isdm-team.php

#isdm team 
    RewriteRule ^isdm-team/([a-zA-Z0-9-]+)$       isdm-team.detail.php?mat=$1
    RewriteRule ^service/([a-zA-Z0-9-]+)$       service.php?id=$1